* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto-Regular';
}

div, p {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

body {
    background-color: rgb(235, 235, 235);
}

/* section {
    border: 0.1vh solid black;
} */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 

/*============================================
==============================================
Navbar
==============================================
=============================================*/

header {
    background-color: white;
    padding: 10px 0;
}

header div{
    width: 100%;
    height: 20%;
    display: inline-block;
    text-align: left;
}

#header-logo {
    /* border: 0.1vh solid red; */
    display: inline-block;
    width: auto;
}

#header-logo div img{
    /* background-image: url("../images/logo.jpeg"); */
    height: 50px;
    width: auto;
    background-size: cover;
    margin: 5px 0px 0px 5px;
    display: inline-block;
}

#header-user {
    /* display: inline-block; */
    height: auto;
    color: #0ecd1f;
    font-size: 40px;
    float: right;
    /* position: absolute; */
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#header-tooptip {
    /* border: 1px solid rgb(95, 95, 95); */
    width: 150px;
    float: right;
    background-color: #f6f6f6;
    border-radius: 5px;
    /* margin: 10px 10px 0 0; */
    padding: 10px;
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    height: auto;
    text-align: left;
}

#header-tooptip i {
    margin: 0 10px;
    color: green;
}

.account-btn {
    background-image: linear-gradient(rgb(23, 139, 23), rgb(1, 206, 35));
    padding: 2px 7px;
    border: none;
    color: white;
    font-family: 'Roboto-Bold';
    border-radius: 5px;
}

/* #add-account-btn {
} */

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

    #header-logo div img{
        /* background-image: url("../images/logo.jpeg"); */
        height: 50px;
        width: auto;
        margin: 5px 0px 0px 5px;
    }

    #header-user {
        font-size: 50px;
        right: 10px;
        top: 10px;
    }

    

 }


/*============================================
==============================================
Sidebar
==============================================
=============================================*/

#sidebar {
    /* border: 0.1vh solid black; */
    text-align: left;
    position: absolute;
    left: 1px;
    top: 20%;
    padding-right: 25px;
    z-index: 10;
    background-color: white;
}

#sidebar ul {
    list-style: none;
    text-align: left;
}

#sidebar li {
    text-align: left;
    font-size: 15px;
    margin: 12px 5px 12px 0;
    color: rgb(71, 71, 71);
    cursor: pointer;
}



#sidebar li i {
    margin: 0 15px 0 5px;
    color: grey;
    width: 30px;
}


#sidebar-arrow {
    color: #0abb16;
    font-size: 25px;
    position: absolute;
    top: 40%;
    right: -15px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    #sidebar li {
        margin: 18px 5px 12px 0;
        font-size: 20px;
    }

    #sidebar-arrow {
        font-size: 30px;
    }

}

/*============================================
==============================================
Dashboard
==============================================
=============================================*/

/* #dashboard-section {
    display: none;
} */

#dashboard-head {
    margin-top: 80px;
    margin-left: 70px;
}

#dashboard-head1 {
    font-family: 'Roboto-Bold';
    font-size: 25px;
}

#dashboard-btn {
    font-size: 18px;
    padding: 7px 30px;
}


@media only screen and (min-width: 768px) {

    #dashboard-head  {
        margin-top: 150px;
        /* margin-left: 120px; */
    }    


    #dashboard-head1 {
        font-size: 30px;
    }

    #dashboard-head2 {
        font-size: 20px;
    }

    #dashboard-btn {
        font-size: 20px;
        padding: 7px 30px;
    }


}


/*============================================
==============================================
Stats
==============================================
=============================================*/

#stats-section {
    display: none;
}

#stats-head {
    /* border: 0.1vh solid black; */
    text-align: center;
}

#stats-head1 {
    font-family: 'Roboto-Bold';
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
}

#stats-head2 {
    /* border: 0.1vh solid red; */
    width: 100%;
    display: inline-block;
    font-size: 16px;
}

#stats-head21 {
    /* border: 0.1vh solid rgb(0, 4, 255); */
    display: inline-block;
    width: 49%;
    text-align: left;
    font-family: 'Roboto-Bold';
    /* position: relative;
    right: 13px; */
}


#stats-body1 {
    /* border: 0.1vh solid rgb(73, 0, 0); */
    width: 77%;
    /* position: absolute;
    right: 0; */
    margin-left: 75px;
    font-family: 'Roboto-Bold';
    font-size: 15px;
}

#stats-head22 {
    width: 49.5%;
    /* border: 0.1vh solid rgb(238, 255, 0); */
    display: inline-block;
    text-align: right;
    /* position: relative;
    left: 13px; */
}

#stats-head221 {
    font-family: 'Roboto-Bold';
}

#stats-head222 {
    font-family: 'Roboto-Bold';
    color: rgb(107, 107, 107);
    font-size: 13px;
}

.stats-card {
    width: 250px;
    display: inline-block;
    font-family: 'Roboto-Bold';
    background-color: white;
    border: none;
    border-radius: 5px;
    padding-bottom: 10px;
    /* padding: 10px; */
    margin: 5px 7px;
}

.stats-card-head {
    text-align: center;
    font-family: inherit;
    width: 100%;
    padding: 10px 0;
}

.stats-card-body {
    display:inline-block;
}

.stats-card-img {
    display: inline-block;
    /* border: 0.1vh solid red; */
    text-align: left;
    width: 70px;
    padding-left: 10px;
}

.stats-card-img img{
    /* background-image: url("../images/icons/Shape36.png"); */
    width: 60px;
    height: auto;
    display: inline-block;
}

.stats-card-num {
    display: inline-block;
    font-size: 30px;
    width: 122px;
    /* border: 0.1vh solid blue; */
    font-family: 'Roboto-Medium';
    text-align: right;
    position: relative;
    top: 22px;
}

.stats-card-percent {
    /* border: 0.1vh solid green; */
    display: inline-block;
    width: 50px;
    position: relative;
    top: 22px;
    right: 5px;
    font-size: 12px;
}

.stats-card-arrow {
    font-size: 14px;
}

.stats-card-percent-up {
    color: #0ecd1f;
}

.stats-card-percent-down {
    color: red;
}

.stats-card-num span {
    font-size: 15px;
}

#stats-know-more {
    margin-top: 20px;
    text-align: right;
    padding-right: 50px;
}

#stats-body2 {
    /* border: 0.1vh solid red; */
    margin-top: 50px;
    text-align: center;
}



#stats-body2-head1 {
    width: 44%;
    display: inline-block;
    font-family: 'Roboto-Bold';
    text-align: left;
}

#stats-body2-head1 span {
    display: block;
    font-size: 10px;
    text-align: left;
    font-family: 'Roboto-Medium';
}

#stats-body2-head2 {
    text-align: right;
    /* border: 0.1vh solid green; */
    display: inline-block;
    width: 55%;
    /* margin-right: 1px; */
    position: relative;
    bottom: 5px;
    font-size: 10px;
}

#stats-body2-head2 span {
    font-size: 10px;
    font-family: 'Roboto-Bold';
    display: inline-block;
}

#stats-body2-head21 {
    display: inline-block;
    background-color: rgb(190, 190, 190);
    padding: 4px 0px;
    border-radius: 5px;
    /* font-size: 10px; */
    margin-right: 15px;
    padding-left: 3px;
    /* padding-right: 10px; */
    /* margin-bottom: 15px; */

    color: white;
}

.stats-body2-head211{
    border-radius: 5px;
    padding: 2px 12px;
    /* margin: 0 3px; */
}

#stats-body2-head211{
    background-color: white;
    color: black;
}


#stats-body2-head212 {
    color: white; 
}

#curve_chart {
    margin-left: 4%;
}

#donut-chart-div {
    text-align: center;
    margin-top: 20px;
}

.donut_charts {
    display: inline-block;
    width: 150px;
    height: 150px;
}


@media only screen and (min-width: 600px) {

    #stats-body2 {
        width: 85%;
        margin-left: 12%;
    }

    .donut_charts {
        width: 200px;
        height: 200px;
    }
     

}

@media only screen and (min-width: 768px) {

    #stats-body2 {
        width: 90%;
        margin-left: 8%;
    }

    .donut_charts {
        width: 290px;
        height: 290px;
    }
     

}

@media only screen and (min-width: 992px) {

    #stats-body1 {
        /* border: 0.1vh solid rgb(73, 0, 0); */
        width: 77%;
        /* position: absolute;
        right: 0; */
        margin-left: 15%;

    }

    #stats-body2-head1 {
        font-size: 15px;
    }

}




